.container {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.title {
    $fontSize: 24px;
    font-size: $fontSize;
    font-weight: 100;
    flex-grow: 1;
    margin: 0;
    line-height: 150%;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    transition: box-shadow 0.1s ease-in-out, border-color 0.1s ease-in-out;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);

    &::placeholder {
        color: #bbb;
        transition: all 0.1s ease-in-out;
    }
    &:hover {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.1);
        border-color: rgba(0, 123, 255, 0.5);
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        border-color: rgba(0, 123, 255, 0.8);
        outline: 0;
        &::placeholder {
            color: #666;
        }
    }
}

.timer {
    font-weight: 200;
    font-size: 24px;
    line-height: 150%;
    margin-left: 20px;
}
